<h1>Our Lucky Owners</h1>

<% for owner in @owners %>
<li>Name: <%= owner.name %></li>
  <% pets = owner.animals %>
  <% for pet in pets %>
  <ul>Pet Name: <%= pet.name %></ul>
    <% end %>
    <% end %>
