<h1>Our Lucky Owners</h1>

<form action="/animals/owner" method="get">

<% for owner in @owners %>
<p>Name: <%= owner.name %></p>
<p>Contact: <%= owner.contact %></p>
<% end %>

<% for animal in @animals %>
<p>New family members: <%= animal.name %></p>
<% end %>

</form>
